body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    margin: 30px 60px;
    font-family: 'Alegreya', serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;  
}
button#start {
    color: #fff;
    background-color:#67b54b; 
    padding: 12px 14px;
    border-style: 0;
    border-radius: 5px;
    
}

form{
    text-align: center;
}


img#segunda  {
 max-width: 1200px;
 
}


img#primera {
    border: 4px dotted rebeccapurple;
}

img#primera { display: block; margin: auto; }
img#segunda { display: block; margin: auto; }

.header{
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    margin: 40px 20px 0;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0 25px 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img{
    width: 15%;
    display: block;
}

.navbar {
    width: 70%;
    text-align: left;
    font-family: sans-serif;
    height: 45px;
    color: #025157; 
    /*margin: 25px 25px 0;*/
    font-weight: 500;
}
.actions {
    width: 15%;
    text-align: left;
    font-weight: 600;
    color: #67b54b;
}

.actions > * {
    font-size: 14px;
    margin: 10px 10px 0;

}

.main {
    margin-top: 140px;
    text-align: center;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px;
    align-items: center;
    flex-direction: column;


}
.publish {
    margin-left: 30px;
}

img#flecha{
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0%;
    background-color: #fffbf7;
}
