@media (max-width:575px){
body {
    background-color: #fffbf7;
}
}

h1 {
  font-size: 60px;
    color: #025157;
    text-align: center;
    margin: 30px 60px;
    font-family: 'Alegreya', serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;  
}
button#start {
    color: #fff;
    background-color:#67b54b; 
    padding: 12px 14px;
    border-style: 0;
    border-radius: 5px;
    
}

form{
    text-align: center;
}


img#segunda  {
 max-width: 1200px;
 
}


img#primera {
    border: 4px dotted rebeccapurple;
}

img#primera { display: block; margin: auto; }
img#segunda { display: block; margin: auto; }

.header{
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    margin: 40px 20px 0;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0 25px 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img{
    width: 15%;
    display: block;
}

.navbar {
    /* width: 70%; */
    text-align: center;
    font-family: sans-serif;
    height: 45px;
    color: #025157; 
    /*margin: 25px 25px 0;*/
    font-weight: 500;
}
.actions {
    /* width: 15%; */
    text-align: right;
    font-weight: 600;
    color: #67b54b;
    font-size: 14px;
}

.actions > * {
    font-size: 14px;
    margin: 10px 10px 0;

}

.main {
    margin-top: 285px;
    text-align: center;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    


}
.publish {
    margin-left: 30px;
}

img#flecha{
    width: 120px;
    margin-top: 10px;
     display: block; margin: auto; 
}

.fixed-header {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0%;
    background-color: #fffbf7;
}

.video {
    display: flex;
    flex-direction: column;
}



.growing1 > p {
    color:  black;
}

.logos {
    width: 50%;
    display: block;
    }

.growing {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #a1d683;
}

.growing1 {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.growing2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}



.features {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    height: 660px;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    background-color: #296314;
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }

  .work{
    align-items: center;
  }

  .explore{
    color: #fff;
    background-color: #025157; 
    display: block; margin: auto;
  }

  .grid4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 660px;
    background-color: #fffbf7;
    gap: 30px;
    padding: 5% 10%;
    }

    .cajita{
        background-color: white;
    }

   .publishimg{
    height: 100%;
    width: 100%;
   }

   .figura{
    height:50%;
   }

  .cajita h3{
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
  }

  .cajita p{
    text-align: left;
  }

  .cajita a{
    color:#67b54b;
    font-size: 20px;

  }

  @media (max-width:575px){ /*dispositivo celular vertical*/
    .navbar,
    .actions{
      display: none;
    }
    .main{
      margin-top: 130px;
    }
    h1{
      font-size: 30px;
      }

    .banner > img {
      width: 100%;
    }

      .publish > form {
        flex-direction: column;
      }

      .publish > form > div {
        height: 50px;
        margin-top: 10px;
      }

      .publish > form > div > input {
        width: 65%;
      }
      .promo{
        flex-direction: column;
        max-width: 90%;
      }

      .video {
        width:100%;
      }

      .publish{
        margin-top: 10px;
      }
      .publish > h3{
        font-size: 25px;
        line-height: 1.2;
      }

      .features{
        display: flex;
        flex-direction: column;
        
      }

      .feature-image{
        display:none;
      }

      .growing{
        display: flex;
        flex-direction: column;
      }

      .grid4{
        display: flex;
        flex-direction: column;
      }
  }


